* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

nav {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: flex-start;
  /* margin: 20px;
  padding: 20px; */
  width: 100%;
}

.navbar {
  display: flex;
  
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  width: auto;
}

nav img {
  display: flex;
  height: auto;
  width: auto;
  margin-right: 0;
  padding-right: 4px;

  /* background-color: #FDFC88; */
  /* color: #fdfc88; */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  /* margin-left: 0; */
}

.navbar ul li {
  margin: 0 4px;
}

nav ul li a {
  color: #079b09;
  /* margin-left: 30px; */
  text-decoration: none;
  display: inline-block;
  padding: 0 3px;
  white-space: nowrap;
}

nav ul li a:hover {
  color: #000;
  background-color: white;
  text-decoration: none;
}

.animation {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: block;
}

.frame {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  animation: fade 8s infinite;
}

.frame img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  object-fit: cover;
}

.frame:nth-child(1) {
  animation-delay: 0s;
}

.frame:nth-child(2) {
  animation-delay: 2s;
}

.frame:nth-child(3) {
  animation-delay: 4s;
}

.frame:nth-child(4) {
  animation-delay: 6s;
}

.frame:nth-child(5) {
  animation-delay: 8s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 20px;
  padding-top: 0;
  margin-top: 0;
  padding: 20px;

}

.title {
  font-size: 2rem;
  font-weight: bold;
  flex: 1;
}

.text-columns {
  display: flex;
  flex-direction: column;
  flex: 2;

  gap: 20px;
}

.column {
  column-count: 2;
}

/*  */
#text-overlay {
  position: relative;
  text-align: center;
  margin-bottom: 70px;
  /* overflow: hidden; */
}

#behind {
  font-size: 140px;
  color: #e8d0b8;
  text-align: center;
  font-family: Herr Von Muellerhoff;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

#front {
  text-align: center;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* #text-o{
  position: relative;
  text-align: left;
  margin-bottom: 70px;
}
#behin{
   font-size: 100px;
  color: #e8d0b8;
  text-align: left;
  font-family: Herr Von Muellerhoff;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;

}
#fron{
  text-align: center;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
} */

.vc_custom_1633932977132 {
  margin-top: -20px !important;
  padding-top: 5px !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.room-card {
  width: 300px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* border-top: none;
  padding: 28px 30px 35px; */
  background-color: #fff;
  font-size: 14px;
  text-align: center;
}

.room-img {
  width: 100%;
  /* vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip; */
  height: auto;
  border-radius: 4px;
}

.room-card h3 {
  font-size: 20px;
  margin: 12px 0;
}

/* .room-title{
  margin-bottom: 3px;
} */
.room-occupancy {
  color: #888;
  font-style: italic;
  margin: 8px 0;
}

.room-content {
  font-size: 14px;
  margin: 8px 0 16px;
}

.room-img img {
  width: 100%;
  height: auto;
}

/* .room-info {
  /* padding: 15px; */
/* margin-top: 5px;
  font-size: 14px;
  word-wrap: break-word;
  white-space: normal;
} */
*/

/* button {
  background: none;
  border: 1px solid gold;
  color: #555;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
} */
/* .btn {
  padding: 10px 20px;
  border: 2px solid gold;
  color: gold;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  font-size: 10px;
  font-weight: bold;
} */

button {
  border: 2px solid gold;
  color: gold !important;
  background-color: transparent;
  padding: 10px 20px;
  margin-top: 15px;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
}
.card-container .btn{
 border: 2px solid gold;
  color: gold !important;
  background-color: transparent;
  padding: 10px 20px;
  margin-top: 15px;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  /* transition: all 0.3s ease; */
  cursor: pointer;
  border-radius: 10px; 
  width: fit-content;
}


button:hover {
  color: white;
  background-color: gold;

}
.card-container .room-card .btn:hover{
  color: white !important; 
  background-color: gold;
  
}
.book-now {
  background-color: gold;
  color: white;
  font-weight: bold;

  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.book-now:hover {
  background-color: #079b09;
  color: white;
}

.dropdown {
  position: relative;
}

.dropdowncontent {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  color: green;
  padding: 0px;
  /* top: 100%;
  left: 0; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdowncontent a {
  color: green;
  padding: 12px 16px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
  display: block;
}

.dropdownbtn {
  position: relative;
}

.dropdownbtn:hover .dropdowncontent {
  display: block;
}

li.dropdownbtn {
  position: relative;
}

/* .dropdown:hover .dropdowncontent {
  display: block;
} */
/* .dropdown:hover .dropdowncontent a {

  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */
.dropdowncontent a:hover {
  background-color: gold;
  color: #000;
}

/* .dropdown:hover .dropdownbtn{
  background-color: #3e8e41;
} */

.social-sidebar {
  position: fixed;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-sidebar a {
  padding: 10px;
  color: white;

  font-weight: bold;
  /* background: transparent; */
  border-radius: 0 5px 5px 0;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #444;
  transition: background 0.3s ease;
}

.social-sidebar a:hover {
  background: #555;
}

/* .whatsapp{
  background-color: #25D366;
}
.linkedin{
  background-color: #0077B5;
}
.twitter{
  background-color: #02030300;
}
.email{
  background-color: #dd4b39;
} */

.services {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 40px;
  background: #000;
  color: #fff;
}

.service-card {
  flex: 1;
  height: 300px;
  position: relative;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  padding: 40px 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  transition: transform 0.3s;
  color: gold;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  transition: background 0.3s;
}

.overlay p {
  display: none;
  margin-top: 10px;
  font-size: 14px;
}

.service-card:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.service-card:hover .overlay p {
  display: block;
}

.service-card i {
  font-size: 40px;
  margin-bottom: 15px;
  color: gold;
}

.service-card h3 {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* Backgrounds */
.room-service {
  background-image: url(images/indoors-4234072_640.jpg);
}

.restaurant {
  background-image: url(images/coffee-5589036_640.jpg);
}

.events {
  background-image: url(images/table-1203381_640.jpg);
}

.activities {
  background-image: url(images/zebra-2283914_1280.jpg);
}

.services-section {
  padding: 40px;
  background-color: #f4f0e6;
  text-align: center;
}

.services-section h2 {
  font-weight: bold;
  margin-bottom: 30px;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.services-container ul {
  list-style: circle;
  text-align: left;
  max-width: 250px;
  padding: 0;
}

.footer {
  background-color: #3d3331 !important;
  color: #fff;
  padding: 40px 20px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-column {
  flex: 1 1 200px;
}

.footer-column h4 {
  margin-bottom: 15px;
  font-weight: bold;
  color: #fff;
}

.footer-gallery img {
  width: 60px;
  margin-right: 5px;
  border-radius: 3px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  font-size: 16px;
}

.social-icons a:hover {
  color: gold;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #777;
  padding-top: 10px;
  font-size: 13px;
}

.aboutt {
  text-align: left;
  position: relative;
}

.abouttusimage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.4;
  border-radius: 5px;
  margin-bottom: 20px;
  /* position: ; */
}

.abouttustitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.textt {
  margin-bottom: 30px;
}

.imagecontainer {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: auto;
  height: auto;
  flex-wrap: wrap;
  margin-left: 50px;
  overflow: hidden;
}

.imagecontainer img {
  /* width: 100%;
  height: auto; */
  transition: transform 0.3s ease-in-out;
}

.imagecontainer img:hover {
  transform: scale(1.1);
  /*zoom in*/
}
